%table.game-info
  - if action_name != 'layout'
    %tr
      %td
        %table
          %tr
            %td.nowrap
              = "Fleet: "
              - if action_name == 'show'
                %span.player
                  = link_to @current_player.name, play_player_path(@current_player)
              - else
                %span.player
                  = link_to @game.opponent(@current_player).name, play_player_path(@game.opponent(@current_player))
            %td.fill &nbsp;
            %td.game-icons.nowrap
              - if @game.rated?
                = image_tag asset_path('play/rated.png')
              = image_tag asset_path("play/#{shots_per_turn_name(@game)}.png")

    = render partial: 'winner'

  %tr
    %td
      %table
        %tr
        - if action_name == 'opponent'
          %td
            %button.btn.btn-light{ type: :submit, id: :my_fleet }
              My Fleet
          %td
            %button.btn.btn-danger{  type: :submit, id: :attack, style: 'display:none' }
              Fire!
          %td.fill &nbsp;
        - elsif action_name == 'show'
          %td
            %button.btn.btn-secondary{ type: :submit, id: :opponent_fleet }
              Opponent Fleet
          %td.fill &nbsp;
        - elsif action_name == 'layout'
          %td
            %button.btn.btn-light{ type: :submit, id: :save }
              Save Layout
          %td
            %button.btn.btn-light{ type: :submit, id: :rotate }
              Rotate Ship
          %td.fill &nbsp;

  - if action_name == 'opponent'
    %tr
      %td
        %table
          %tr
            %td
              %br/
              %span#how_to_shoot
                Click on the grid to choose your next
                %span#shots_left>
                  &nbsp;
                = '.'
                %br/
                Then press "Fire!"
              %span#shoot_now
                Press "Fire!"
              %br/
              %br/
              Click on "My Fleet" to view your opponent's attacks on your fleet.

  - if action_name == 'show'
    %tr
      %td
        %table
          %tr
            %td
              %br/
              Click "Opponent Fleet" to attack your opponent.

  - if action_name == 'layout'
    %tr
      %td
        %table
          %tr
            %td
              %br/
              Drag and rotate your ships to create your fleet layout.
              %br/
              %br/
              After you are satisfied click "Save Layout".

  %tr.fill
    %td &nbsp;
