.preload
  = image_tag asset_path("play/water_#{Player::WATERS[@current_player.water]}.jpg")
  = image_tag asset_path("play/grid_#{Player::GRIDS[@current_player.grid]}.png")

  = image_tag asset_path('play/patrol_boat.png')
  = image_tag asset_path('play/patrol_boat_vertical.png')
  = image_tag asset_path('play/submarine.png')
  = image_tag asset_path('play/submarine_vertical.png')
  = image_tag asset_path('play/destroyer.png')
  = image_tag asset_path('play/destroyer_vertical.png')
  = image_tag asset_path('play/battleship.png')
  = image_tag asset_path('play/battleship_vertical.png')
  = image_tag asset_path('play/carrier.png')
  = image_tag asset_path('play/carrier_vertical.png')
  = image_tag asset_path('play/crosshair.png')
  = image_tag asset_path('play/rated.png')
  = image_tag asset_path('play/one.png')
  = image_tag asset_path('play/two.png')
  = image_tag asset_path('play/three.png')
  = image_tag asset_path('play/four.png')
  = image_tag asset_path('play/five.png')
  = image_tag asset_path('play/heart.png')
  = image_tag asset_path('play/dot_red.png')
  = image_tag asset_path('play/dot_orange.png')
  = image_tag asset_path('play/dot_green.png')
  = image_tag asset_path('play/dot_blue.png')
  = image_tag asset_path('play/e1.png')
  = image_tag asset_path('play/e2.png')
  = image_tag asset_path('play/e3.png')
  = image_tag asset_path('play/e4.png')
  = image_tag asset_path('play/e5.png')
  = image_tag asset_path('play/e6.png')
  = image_tag asset_path('play/e7.png')
  = image_tag asset_path('play/e8.png')
  = image_tag asset_path('play/e9.png')
  = image_tag asset_path('play/o1.png')
  = image_tag asset_path('play/o2.png')
  = image_tag asset_path('play/o3.png')
  = image_tag asset_path('play/o4.png')
  = image_tag asset_path('play/o5.png')
  = image_tag asset_path('play/o6.png')
  = image_tag asset_path('play/o7.png')
  = image_tag asset_path('play/o8.png')
  = image_tag asset_path('play/o9.png')
  = image_tag asset_path('play/o10.png')
  = image_tag asset_path('play/o11.png')
