%h1
  Dear #{@player.name},
%p
  It's your turn in your Nautical War game against #{@opponent.name}.
  %br/
  %br/
  You may continue your game here:
  %br/
  %br/
  = link_to play_game_url(@game), play_game_url(@game)
  %br/

%p
  Thanks,
  %br/
  Nautical War Support
  %br/
  = link_to 'support@nauticalwar.com', 'mailto:support@nauticalwar.com'
  %br/
  %br/
  You may unsubscribe from Nautical War email here:
  %br/
  = link_to unsub_url(@player.unsub_hash), unsub_url(@player.unsub_hash)
