.preload
  - if @current_player
    = image_tag asset_path("play/water_#{Player::WATERS[@current_player.water]}.jpg")
    = image_tag asset_path("play/grid_#{Player::GRIDS[@current_player.grid]}.png")

  = image_tag asset_path('play/patrol_boat.png'), alt: ''
  = image_tag asset_path('play/patrol_boat_vertical.png'), alt: ''
  = image_tag asset_path('play/submarine.png'), alt: ''
  = image_tag asset_path('play/submarine_vertical.png'), alt: ''
  = image_tag asset_path('play/destroyer.png'), alt: ''
  = image_tag asset_path('play/destroyer_vertical.png'), alt: ''
  = image_tag asset_path('play/battleship.png'), alt: ''
  = image_tag asset_path('play/battleship_vertical.png'), alt: ''
  = image_tag asset_path('play/carrier.png'), alt: ''
  = image_tag asset_path('play/carrier_vertical.png'), alt: ''
  = image_tag asset_path('play/crosshair.png'), alt: ''
  = image_tag asset_path('play/rated.png'), alt: ''
  = image_tag asset_path('play/one.png'), alt: ''
  = image_tag asset_path('play/two.png'), alt: ''
  = image_tag asset_path('play/three.png'), alt: ''
  = image_tag asset_path('play/four.png'), alt: ''
  = image_tag asset_path('play/five.png'), alt: ''
  = image_tag asset_path('play/heart.png'), alt: ''
  = image_tag asset_path('play/dot_red.png'), alt: ''
  = image_tag asset_path('play/dot_orange.png'), alt: ''
  = image_tag asset_path('play/dot_green.png'), alt: ''
  = image_tag asset_path('play/dot_blue.png'), alt: ''
  = image_tag asset_path('play/e1.png'), alt: ''
  = image_tag asset_path('play/e2.png'), alt: ''
  = image_tag asset_path('play/e3.png'), alt: ''
  = image_tag asset_path('play/e4.png'), alt: ''
  = image_tag asset_path('play/e5.png'), alt: ''
  = image_tag asset_path('play/e6.png'), alt: ''
  = image_tag asset_path('play/e7.png'), alt: ''
  = image_tag asset_path('play/e8.png'), alt: ''
  = image_tag asset_path('play/e9.png'), alt: ''
  = image_tag asset_path('play/o1.png'), alt: ''
  = image_tag asset_path('play/o2.png'), alt: ''
  = image_tag asset_path('play/o3.png'), alt: ''
  = image_tag asset_path('play/o4.png'), alt: ''
  = image_tag asset_path('play/o5.png'), alt: ''
  = image_tag asset_path('play/o6.png'), alt: ''
  = image_tag asset_path('play/o7.png'), alt: ''
  = image_tag asset_path('play/o8.png'), alt: ''
  = image_tag asset_path('play/o9.png'), alt: ''
  = image_tag asset_path('play/o10.png'), alt: ''
  = image_tag asset_path('play/o11.png'), alt: ''
