
- if @games.empty?
  %p.info
    Click on
    = link_to 'Players', play_players_path
    to start a game.

%table.list#games
  - @games.each do |game|
    %tr{ data: 'game', id: game.id }
      %td.rank= image_tag "play/#{game.player1.rank}.png", class: 'rank'
      %td.info.center.tight
        %span.game-player-name #{game.player1.name} vs #{game.player2.name}
        %br/
        %span.ratings
          #{game.player1.rating}
          %span.versus versus
          #{game.player2.rating}
        %br/
        %span.status
          - if game.winner
            %span.winner
              %b Winner:
              = game.winner.name
          - else
            - if game.player1 == @current_player && !game.player1_layed_out || game.player2 == @current_player && !game.player2_layed_out
              %span.layout-fleet Layout Your Fleet!
            - elsif game.player1 != @current_player && !game.player1_layed_out || game.player2 != @current_player && !game.player2_layed_out
              %span.time-limit
                %b Opponent Layout:
                #{time_left(game.t_limit)}
            - else
              %span.turn
                %b Turn:
                - if game.turn == @current_player
                  = 'You'
                - else
                  = game.turn.name
              %span.time-left
                %b &nbsp;Time Left:
                #{time_left(game.t_limit)}
        %br/
        - if game.rated?
          = image_tag "play/rated.png"
        = image_tag "play/#{shots_per_turn_name(game)}.png"

      %td.rank= image_tag "play/#{game.player2.rank}.png", class: 'rank'

    .modal{ role: 'dialog', tabindex: '-1', id: "modal_#{game.id}" }
      .modal-dialog.modal-dialog-centered{ role: 'document' }
        .modal-content
          .modal-header
            %h5.modal-title Game: #{game.player1.name} vs #{game.player2.name}
            %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
              %span{ 'aria-hidden' => 'true' } ×
          .modal-body
            - if game.winner.nil? && game.player1 == @current_player && !game.player1_layed_out || game.player2 == @current_player && !game.player2_layed_out
              %p You need to layout your fleet
            - elsif game.winner.nil? && game.player1 != @current_player && !game.player1_layed_out || game.player2 != @current_player && !game.player2_layed_out
              %p Your opponent appears unresponsive.
              %p Cancel game?
            - elsif game.winner.present?
              %p
                %b Winner:
                #{game.winner.name}
            - else
              %span.turn
              %b Turn:
              - if game.turn == @current_player
                = 'You'
              - else
                = game.turn.name
              %br/
              %span.time-left
                %b Time Left:
                #{time_left(game.t_limit)}
          .modal-footer
            - if game.winner.nil? && game.player1 == @current_player && !game.player1_layed_out || game.player2 == @current_player && !game.player2_layed_out
              %button.btn.btn-danger{ type: 'button', id: "cancel_#{game.id}" } Cancel Game
              %button.btn.btn-primary{ type: 'button', id: "layout_#{game.id}" } Layout Fleet
            - elsif game.winner.nil? && game.player1 != @current_player && !game.player1_layed_out || game.player2 != @current_player && !game.player2_layed_out
              %button.btn.btn-danger{ type: 'button', id: "cancel_#{game.id}" } Cancel Game
              %button.btn.btn-secondary{ type: 'button', id: "keep-waiting_#{game.id}" } Keep Waiting
            - elsif game.winner.present?
              %button.btn.btn-danger{ type: 'button', id: "destroy_#{game.id}" } Delete Game
              %button.btn.btn-primary{ type: 'button', id: "review_#{game.id}" } Review Game
            - else
              %button.btn.btn-danger{ type: 'button', id: "cancel_#{game.id}" } Cancel Game
              %button.btn.btn-primary{ type: 'button', id: "opponent_#{game.id}" } Play Game

:javascript
  $(function() {
    setupGameOnClicks();
  });

  function setupGameOnClicks() {
    $("tr[data=game]").each( function () {
      $(this).on('click', function() {
        $('#modal_' + $(this).attr('id')).modal('show');
      });
    });

    $("button[id^=keep-waiting_]").each( function () {
      $(this).on('click', function() {
        const id = $(this).attr('id').split('_')[1];
        $('#modal_' + id).modal('hide');
      });
    });

    $("button[id^=layout_]").each( function () {
      $(this).on('click', function() {
        const id = $(this).attr('id').split('_')[1];
        window.location.href = '/play/games/' + id + '/layout';
      });
    });

    $("button[id^=cancel_]").each( function () {
      $(this).on('click', function() {
        const id = $(this).attr('id').split('_')[1];
        $.ajax({
          method: 'post',
          url: '/play/games/' + id + '/cancel',
          headers: {
            'X-CSRF-Token': document.querySelector("meta[name=csrf-token]").content
          }
        });
      });
    });

    $("button[id^=destroy_]").each( function () {
      $(this).on('click', function() {
        const id = $(this).attr('id').split('_')[1];
        $.ajax({
        method: 'delete',
        url: '/play/games/' + id,
        headers: {
          'X-CSRF-Token': document.querySelector("meta[name=csrf-token]").content
        }
       });
      });
    });

    $("button[id^=opponent_]").each( function () {
      $(this).on('click', function() {
        const id = $(this).attr('id').split('_')[1];
        window.location.href = '/play/games/' + id + '/opponent';
      });
    });

    $("button[id^=review_]").each( function () {
      $(this).on('click', function() {
        const id = $(this).attr('id').split('_')[1];
        window.location.href = '/play/games/' + id;
      });
    });
  }
